<div class="background">
  <h1 class="element">Runde {{ roundNumber }}</h1>
  <span class="element">
    @if (roundNumber === '1') {
      In dieser Runde werden dir nacheinander Fragen präsentiert, für die du jeweils 10 Sekunden Zeit hast, um eine der möglichen Antworten auszuwählen. Nach jeder richtigen Antwort erhältst du Punkte: von 10 Punkten für die erste richtige Antwort bis hin zu 200 Punkten für die letzte. Der Schwierigkeitsgrad steigt mit jeder Frage, da auch die Anzahl der richtigen Antworten schrittweise reduziert wird – beginnend mit sechs möglichen richtigen Antworten und endend mit nur einer einzigen.
    }
  </span>
</div>
