<div class="background" [ngStyle]="{'background-color': bgc}">
  @if (initial) {
    <div class="color-list">
      <input type="color" [ngStyle]="{'background-color': colorPicked}" [(ngModel)]="colorPicked">
      <button class="color-button" (click)="select(colorPicked)" [ngStyle]="{'background-color': colorPicked, 'color': ColorFader.getContrastColor(colorPicked)}">Auswählen</button>

      @for (color of colorList; track color) {
        <button class="color-button" [ngStyle]="{'background-color': color}" (click)="select(color)"></button>
      }
    </div>
  } @else {
    @if (!selectgame) {
      <span>Warten auf Daten</span>
    }
  }
</div>
<!--TODO playericons-->
