.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.element {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.color-list {
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.color-button {
  width: 50%;
  margin: 5px 0;
  flex-grow: 1;
}

input {
  min-height: 50px;
  border-radius: 15px;
}

span {
  color: white;
}
