.background {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  h1, p {
    font-size: 100px;
  }
  width: 45vw;
  margin-left: 20vw;
}

#title {
  font-size: 250px;
}

