<div class="background">
  <app-scoreboard></app-scoreboard>
  <table @slide>
    @for (connection of topQuestionModel.connections; track connection.id) {
      <tr [ngStyle]="{'background-color': groupColors[connection.groupNumber]}">
        <td colspan="4" class="answer">{{ connection.explanation }}</td>
      </tr>
      <tr>
        @for (answer of getAnsweredForGroup(connection.groupNumber); track answer.id) {
          <td class="answer" [ngStyle]="{'background-color': groupColors[connection.groupNumber]}">
            {{ answer.answer }}
          </td>
        }
      </tr>
    }
    <tr>
      <th colspan="4">
        <div class="time-container">
          <div id="time-bar-container">
            <div id="time-bar"
                 [ngStyle]="{'width': (timer / maxTime) * 100 + '%', 'background-color': timer < 16 ? '#FF0000' : '#FFFFFF'}"></div>
          </div>
        </div>
      </th>
    </tr>
    @for (answerGroup of answerGroups; track answerGroup) {
      <tr>
        @for (answer of answerGroup; track answer.id) {
          <td class="answer" [ngStyle]="{'background': answer.color}">
            {{ answer.answer }}
          </td>
        }
      </tr>
    }
  </table>
</div>
