.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  background: unset;
  border: unset;
  margin: 0;
  text-align: center;
  width: 85vw;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
