<div class="background">
  <app-scoreboard></app-scoreboard>
  <div class="content">
    @if (questionModel.question) {
      <h1 id="question" @slide>{{ questionModel.question }}</h1>
    }
    <div id="answersContainer">
      @for (answer of questionModel.answers; track answer.id) {
        <div class="answer" [ngStyle]="{'background': answer.color}" @slide>
          <span class="answerAnswer">{{ answer.answer }}</span>
          <span class="answerPlayers">{{ playersToString(answer.players) }}</span>
        </div>
      }
    </div>
  </div>
</div>
