.body {
  background: rgba(0, 0, 0, 0.25);
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.body.no-scroll {
  justify-content: space-around;
}

.body.scroll {
  justify-content: start;
}

span {
  width: 100%;
  text-align: center;
}

.player-container {
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  width: 75%;
}

.player-container.scroll {
  margin-top: 10px;
  margin-bottom: 10px;
}
