<div class="background">
  <app-scoreboard class="scoreboard"></app-scoreboard>
  <div class="content">
    <button (click)="startRound()">R</button>
    <button (click)="startGame()">G</button>
    @if (display.title) {
      <div class="title content-highlight" @slide>{{ display.title }}</div>
    }
    @if (display.elementsLeft) {
      <div class="elementsLeft" @slide>Noch <span
        style="color: #feca35; font-weight: bold">{{ display.elementsLeft }}</span> Einträge
        unentdeckt
      </div>
    }
    @if (display.definition) {
      <div class="definition content-highlight" @slide>{{ display.definition }}</div>
    }
    @if (display.countdown) {
      <div class="countdown " @slide>{{ display.countdown }}</div>
    }
    @if (display.table) {
      <table @slide>
        @for (player of playerAnswers; track player.id) {
          <tr @slide [ngStyle]="{'height': (100 / playerAnswers.length) + '%'}">
            <td @slide [ngStyle]="{'background-color': player.color, 'color': ColorFader.getContrastColor(player.color)}" style="font-weight: bold">
              {{player.name}}
            </td>
            @for (answer of getCurrentDisplayedAnswers(player.validAnswers); track answer.key) {
              <td [ngStyle]="{'background-color': answer.value ? (player.color + (answer.justAppeared ? 'FF' : '88')) : (ColorFader.adjustBrightness(player.color, -75) + (answer.justAppeared ? 'FF' : '88')), 'color': ColorFader.getContrastColor(player.color), 'font-weight': answer.justAppeared ? 'bold' : 'normal'}">
                {{answer.value}}
              </td>
            }
          </tr>
        }
      </table>
    } @else {
      <div class="timerContainer">
        <app-timer class="timer"
                   [initialTime]="120"
                   [warningThreshold]="10"
                   [progressBarColor]="'#946c2a'"
                   [warningColor]="'#feca35'"
                   [size]="timeSize"
                   [textColor]="'#FFFFFF'"
                   [warningTextColor]="'#feca35'"
                   (currentSecond)="null"
                   (timerEnded)="onTimerEnd()"
        ></app-timer>
      </div>
    }
  </div>
</div>
