.background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.content {
  flex-grow: 1;
  text-align: center;
  h1 {
    background: #FFFFFF88;
    border-radius: 25px;
    font-size: 100px;
    padding: 20px;
  }
  margin: 10px;
}

#answersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.answer {
  border-radius: 10px;
  font-size: 50px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answerAnswer {
  flex-grow: 1;
}

.answerPlayers {
  font-size: 10px;
}
