<div class="background">
  <div class="element">
    <button class="subelement" (click)="create = !create" [disabled]="!create">Spieler*in auswählen</button>
    <button class="subelement" (click)="create = !create" [disabled]="create">Neue*r Spieler*in</button>
  </div>
  <br>
  @if (create) {
    <span class="element">Name:</span>
    <input class="element" #name>
    <br>
    <button class="element" (click)="createPlayer(name.value)">Erstellen</button>
  } @else {
    <span class="element">Spielnummer:</span>
    <input class="element" type="number" #gameId>
    <div class="player-list">
      @for (player of players; track player.id) {
        <button class="player-button" (click)="selectPlayer(gameId.value, player.id!)" [ngStyle]="{'color': player.fontColor, 'background': player.correct ? '#00FF0088' : player.color + 'FF'}">{{ player.name }}</button>
      }
    </div>
  }
</div>
