body {
  margin: 0;
}

.background {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media (max-width: 1919px) {
  .background {
    background: #000080;
  }
}

.content {
  margin-left: 300px;
  margin-right: 50px;
  /*background: rgba(255, 255, 255, 0.25);*/
}

.scoreboard {
  position: absolute;
  top: 0;
  left: 0;
}

button {
  min-height: 50px;
  border-radius: 15px;
}
