<div class="background">
  <app-scoreboard></app-scoreboard>
  <div class="content">
    <app-timer class="timer"
               [initialTime]="30"
               [warningThreshold]="5"
               [progressBarColor]="'#000080'"
               [warningColor]="'#800000'"
               [size]="150"
               [textColor]="'#FFFFFF'"
               [warningTextColor]="'#FF0000'"
               (currentSecond)="null"
               (timerEnded)="onTimerEnd()"
    ></app-timer>
    @if (question) {
      <div class="question content-highlight" @slide>{{ question }}</div>
    }
    <div class="answers-list">
      @for (answer of answers; track answer.answer) {
        <div class="answer" [ngStyle]="{'background': answer.color}" @slide>
          <span class="answerAnswer">{{ answer.answer }}</span>
          <span class="answerPlayers">{{ playersToString(answer.players) }}</span>
        </div>
      }
    </div>
  </div>
</div>
