<div class="background">
  <app-scoreboard></app-scoreboard>
  <div class="content">
    <button (click)="startRound()"></button>
    <button (click)="toggleAudioTrack(true)"></button>
    <button (click)="toggleAudioTrack(false)"></button>
    <app-timer
      [initialTime]="30"
      [warningThreshold]="10"
      [progressBarColor]="round.data"
      [warningColor]="'#FF0000'"
      [size]="200"
      [textColor]="'#FFFFFF'"
      [warningTextColor]="'#FF0000'"
      (currentSecond)="null"
      (timerEnded)="onTimerEnd()"
    ></app-timer>
    <div class="question" @slide>{{question}}</div>
    <div class="answers-list">
      @for (answer of answers; track answer.answer) {
        <div class="answer" [ngStyle]="{'background': answer.color}" @slide>
          <span class="answerAnswer">{{ answer.answer }}</span>
          <span class="answerPlayers">{{ playersToString(answer.players) }}</span>
        </div>
      }
    </div>
  </div>
</div>
