.background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.content {
  flex-grow: 1;
  text-align: center;
  margin-left: 20vw;
}

.question {
  font-size: 100px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.answers-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.answer {
  border-radius: 10px;
  font-size: 50px;
  padding: 20px;
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answerAnswer {
  flex-grow: 1;
}

.answerPlayers {
  font-size: 25px;
}

.timer {
  position: absolute;
  bottom: 1vh;
  left: 0.5vw;
  z-index: 0;
}

.progress {
  position: absolute;
  bottom: 19vh;
  left: 7.4vw;
  z-index: 0;
}

.scoreboard {
  position: absolute;
  top: 0;
}
